@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom scrollbar for move history */
.move-history::-webkit-scrollbar {
  width: 8px;
}

.move-history::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.move-history::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.move-history::-webkit-scrollbar-thumb:hover {
  background: #555;
}

